body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    margin: 0;
    font-weight: 400;
    margin-bottom: 5px;
}

.description {
    margin: 0;
    font-weight: 200;
    font-style: italic;
    font-size: 1.125rem;
}

.header {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

form {
    background-color: rgba(27, 27, 50, 0.8);
    border-radius: 3px;
    padding: 2.5rem;
    color: white;
}

.group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

label {
    font-size: 1.125rem;
}

.input-text {
    font-family: "Poppins", sans-serif;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    margin-top: 10px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}

.radio-block,
.checkbox-block {
    display: flex;
    align-items: center;
    font-size: 1.115rem;
    margin-bottom: 0.5rem;
}

.input-radio,
.input-checkbox {
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.block-buttons {
    margin-top: 10px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    margin-top: 5px;
    box-sizing: border-box;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #37af65;
    border: 0;
    color: #ffffff;
    transition: .1s linear;
}
.submit-button:hover {
    background-color: #277b47;
}